.modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modalImg:hover {
    transform: scale(1.05);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  padding: 100px 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  animation: fade 0.5s ease-out;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  position: flex;
  justify-content: center;
} 

.image-gallery {
	columns: 3;
	column-gap: 16px;
	margin: 1rem;
}

.image-card {
	position: relative;
	margin-bottom: 16px;
}

/* Modal Content (image grid) */
.mc-row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 1rem;
    justify-items: center;
}


.col2 {
    grid-column: span 2;
}

@media screen and (max-width: 1036px) {
    .col2 {
        grid-column: span 1;
    }

    .mc-row > img {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
  .image-gallery {
    columns: 3;
  }
}

@media screen and (max-width: 900px) {
  .image-gallery {
    columns: 2;
  }
}

@media screen and (max-width: 500px) {
  .image-gallery {
    columns: 1;
  }
}


/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fade {
    	0% {
	 display:none;
	 opacity:0
	}
	1% {
	 display:block;
	 opacity:0
	}
	100% {
	 display:block;
	 opacity:1
	}
}


